/*{#body {#}*/
/*{#    background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FkXpDS%2FbtrDGIAFUWk%2FTswNgxoiv39O8xejaguxp1%2Fimg.jpg")#}*/
/*{##}*/
#wrap{
    width: 100%;
    height: 100%;
    background: #000;
}
.home_page{
    width: 1300px;
    height:1000px;
    margin:0 auto;
}

.title_box{
    width:500px;
    font-size:3em;
    display:flex;
    justify-content: center;
    padding-top:60px;
}
.center_row{
    background-color: yellow;
    width:500px;
    height: 1000px;
    margin:0 auto;
    float:left;
}
.left_row{
    background-color: aquamarine;
    width: 400px;
    height: 1000px;
    margin:0 auto;
    float:left;
}
.right_row{
    background-color: aquamarine;
    width: 400px;
    height: 1000px;
    margin:0 auto;
    float:left;
}
.card{
    width:500px;
    height:500px;
    background-color: chartreuse;
    margin-top:50px;
}
.modal_overlay {
    display: none;
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 1050
}
.modal_window {
    background-color: #080615;
    opacity: 0.8;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid antiquewhite;
    width: 550px;
    height: 600px;
    position: relative;
    padding: 10px;
}
.modal_x_box {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.modal_x_box i {
    color: #C7B0FFFF;
}
.addition_modal_head {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C7B0FFFF;
    opacity: 0.8;
    font-size: 1em;
}
.addition_modal_body {
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 2px dashed #88F3FFFF;
    outline-offset: -10px;
    margin-top: 10px
}

.modal_window2 {
    background-color: #080615;
    opacity: 0.8;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid antiquewhite;
}


.img_upload_space {
    background-color: #C7B0FFFF;
    width: 500px;
    height: 500px;
}

.img_description_space {
    color: #C7B0FFFF;
}

.addition_modal_body2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_description_space {
    display: flex;
    flex-direction: column;
}

.img_description_box {
    width: 350px;
    height: 380px;
    margin: 15px;
    border: 1px solid #C7B0FFFF;
}