<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API TEST - FOLLOW</title>

    <link rel="stylesheet" href="test_follow.css">

    <style>
        .follow_card {
            width: 200px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .follow_on {
            background-color: coral;
        }

        .follow_off {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
<h3>팔로우 테스트를 위한 페이지입니다!</h3>
{% for user in all_user %}
    {% for status in status_follow %}
        {% if status.followee == user.username %}
            <div class="follow_card follow_off">
                <div>{{ user.username }}</div>
                <button>follow</button>
            </div>
        {% elif status.followee != user.username %}
            <div class="follow_card follow_on">
                <div>{{ user.username }}</div>
                <button>follow cancel</button>
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}
</body>
</html>