<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
    <form method="post" action="/sign-up/">
        {% csrf_token %}
        <div>
            <label for="username"></label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password"></label>
            <input type="text" id="password" name="password">
        </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div>
            <button type="submit">회원가입</button>
            <a href="/sign-in">로그인 하러 가기!</a>
        </div>
    </form>
</body>
</html>